<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CelebrityBox</title>
    <link rel= "stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.ejs"> <img src="images/cele.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">SOBRE</a></li>
                    
                    
                    <li><a href="/contact">CONTATO</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>Sobre Eu</h1>
        
     
    </section>

    <!------sobre conteçao-->


    <section class="sobre">
        <div class="row">
            <div class="sobre-col">
                <img src="images/literaleu.jpg">
            </div>
            <div class="sobre-col">
                <h1>Eu sou Pedro Lucas</h1>
                <p>Apenas alguém que quer ganhar a vida programando usufruindo da tecnologia</p>
                <h1>Mas do que se trata o site?</h1>
                <p>O meu projeto foi feito justamente para se ter interações e informar os usuarios dele, para ser algo totalmente divertido e informativo</p>
            </div>
        </div>
    </section>


    





<!----Footer-->

<section class="footer">
    <h4>Sobre Mim</h4>
    <p>Sou do IFCE curso informática</p>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <p>
        Feito por Pedro Lucas
    </p>
</section>





<!-- Javascript butão menu-->
    <script>

        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }

    </script>
</body>
</html>

